asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.1.0
colorama==0.4.6
Django==4.2.11
django-bootstrap-icons==0.8.3
django-bootstrap-v5==1.0.11
django-bootstrap5==23.3
flake8==6.0.0
flake8-html==0.4.3
idna==3.7
Jinja2==3.1.3
MarkupSafe==2.1.3
mccabe==0.7.0
Pillow==10.3.0
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.15.1
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.6.3
urllib3==2.0.7
