body {
  font-family: 'Raleway', sans-serif;
}

.subscriptions_container table td {
  width: 120px;
}

@media (max-width: 328px) {
  header {
    margin-top: 10px;
    padding-bottom: 5px;
    transition-duration: 0.7s;
  }

  #brand_logo {
    width: 70px;
    transition-duration: 0.7s;
  }
}

@media (max-width: 576px) {
  header {
    margin-top: 10px;
    padding-bottom: 5px;
    transition-duration: 0.7s;
  }

  #brand_logo {
    width: 110px;
    transition-duration: 0.7s;
  }
}

@media (max-width: 768px) {
  header {
    margin-top: 80px;
    padding-bottom: 5px;
    transition-duration: 0.7s;
  }

  #brand_logo {
    width: 120px;
    transition-duration: 0.7s;
  }
}

header {
  margin-top: 100px;
  transition-duration: 0.7s;
}
