<div class="review_creation_form_items_container">
  <p>Titre</p>
  <input class="review_input" type="text" name="headline">
  <p>Note</p>
  <div class="rating_container">
    <p><input type="radio" name="rating" value="0" checked="checked"> - 0</p>
    <p><input type="radio" name="rating" value="1"> - 1</p>
    <p><input type="radio" name="rating" value="2"> - 2</p>
    <p><input type="radio" name="rating" value="3"> - 3</p>
    <p><input type="radio" name="rating" value="4"> - 4</p>
    <p><input type="radio" name="rating" value="5"> - 5</p>
  </div>
  <p>Commentaire</p>
  <textarea class="review_input" name="body" rows="8" cols="80"></textarea>
</div>
<div class="buttons_container">
  <button type="submit" name="button">Envoyer</button>
</div>
