{% load bootstrap5 %}
{% load litreview_extras %}
{% load static %}

<div class="d-flex ">
    <div class="pb-3 d-flex flex-column ">
      <label for="title" class="form-label fw-light">Titre</label>
      <input class="form-control" type="text" name="title" value="">
      <label for="description" class="form-label fw-light">Description</label>
      <textarea class="form-control" name="description" rows="8" cols="80"></textarea>
      <label for="image" class="form-label fw-light">Image</label>
      <input type="file" name="image" id="btn_img" class="btn_img" hidden>
      <label for="btn_img" class="mw-25 btn btn-primary" onclick="update_chosen_file()">Télécharger fichier</label>
      <span id="chosen_file"></span>
    </div>
</div>
