{% load bootstrap5 %}
{% load litreview_extras %}

<div class="d-flex flex-column">
    <div class="">
        <label for="title" class="form-label fw-light">Titre</label>
        <input class="form-control text-start" type="text" name="title" value="{{ ticket.title }}">
        <label for="description" class="form-label fw-light">Description</label>
        <textarea class="form-control text-start" name="description" rows="8" cols="80">{{ ticket.description }}</textarea>
        <label for="image" class="form-label fw-light">Image</label>
        <input type="file" name="image" id="btn_img" class="btn_img" hidden>
        <label class="w-100 w-md-25 btn btn-primary" for="btn_img" onclick="update_chosen_file()">Télécharger fichier</label>
        <span id="chosen_file">{{ ticket.image }}</span>
    </div>
</div>
